@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);

* {
    font-family: "Fira Code Light", sans-serif;

    margin: 0;
    padding: 0;
}

header {
    padding: 25px;

    background-color: #81313c;
    color: white;

    display: flex;
    flex-flow: column;
    align-items: center;

    text-align: center;
}

header img {
    margin-bottom: 25px;

    width: 256px;
    height: 256px;
}

header a {
    background-color: #CF6371;
    color: white;

    border: none;
    padding: 15px 32px;
    margin-top: 25px;
    text-decoration: none;
    display: inline-block;

    -webkit-transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

header a:hover {
    background-color: #dfcbc5;
    color: black;
}

#commands {
    min-height: calc(100vh - 509px);
}

div {
    background-color: #dfcbc5;

    text-align: center;
}

div h1 {
    padding-top: 10px;
}

div ul {
    list-style-type: none;

    padding: 25px;
}

footer {
    background-color: black;

    text-align: center;

    padding: 10px;
}

footer a {
    color: white;
}